    /* General Styles */
    body {
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-image: url("images/sunset.jpg"); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .form-container {
        
        background-color:rgba(229, 215, 189, 0.8);
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        
    }
    .your-details-title {
        height: 50px; 
        background: #FBD303; 
        border-radius: 5px 5px 0 0; 
        color: #fff;
        font-size: 18px; 
        font-weight: 600; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    h1 {
        color: #E5D7BD
    }
    fieldset legend {
        color: #FBD303; 
        font-weight: bold; 
    }

    p { 
        color: #FBD303 
    }
    /* Form Styles */
    form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold; 
        color:   #000000
        
    }

    form input, form select {
        width: 100%; 
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-sizing: border-box; 
        background-color: #3FA852;
        color: #fff;
        
    }
    form input:focus {
        outline: none; 
        border-color: #FBD303; 
        box-shadow: 0 0 5px rgba(251, 211, 3, 0.5);
    }


    form button[type="reset"] { 
        background-color: #E74C3C; 
        border-radius: 12px;
        padding: 5px 10px;
        color: #fff; 
    }
    
    form button[type="reset"]:hover {
        background-color: #C0392B;
    }
    
    form button[type="submit"] {
        background-color: #00ba5d; 
        color: #fff; 
        padding: 10px 20px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-weight: bold; 
    }
    
    form button[type="submit"]:hover {
        background-color: #e8c200;
    }

    #result {
        margin-top: 20px;
        font-size: 1.2em; 
        font-weight: bold;
        padding: 15px 40px;
        border: 2px solid  #476268;
        border-radius: 10px;
        color: #ffffff;
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }
    /* Entrance animation keyframes */
    @keyframes fadeIn {
        0% {
            opacity: 0; 
        }
        100% {
            opacity: 1; 
        }
    }
    /* Class to add when the result should be visible */
    .result-visible {
        opacity: 1; 
        animation: fadeIn 1s ease-in; 
        animation-fill-mode: forwards; 
    }

    .error-message {
        color: red;
        background-color: #ffe0e0; /* Light pink background */
        padding: 10px;
        border: 1px solid #ff6060; /* Light red border */
        margin-bottom: 10px; 
        text-align: center;
        position: relative; /* Allows for absolute positioning */
        top: 0; /* Position it at the top of the form*/
      } 
